:root {
    --cw: 120px;
    --ch: 180px;
    --itc: rgb(92, 255, 92);
}

* {
    margin: 2px;
    padding: 0;    
    box-sizing: border-box;
    max-width: var(--width);
    overflow:auto;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: black;
    background-image: radial-gradient(rgb(0, 26, 3), black 120%);
    color: var(--itc);
    font: 13px Inconsolata, monospace;
    text-shadow: 0 0 3px rgb(0, 255, 13);
    opacity: 1;
}

hr {
    border-style: dashed;
    border-width: 1px;
    height: 0px;
    border-color: var(--itc);
}

.deckback,
.deckfront {
    position: relative;
    display: inline-table;
    vertical-align: top;
    box-shadow: 0px 0px 10px 0px rgba(0, 255, 13, 0.514);
    border-style: solid;
    border-color: var(--itc);
    border-width: 2px;
    background-image: radial-gradient(rgb(0, 59, 0), rgb(0, 0, 0) 120%);
    border-width: 2px;
    border-radius: 5px;
    width: var(--cw);
    min-width: var(--cw);
    max-width: var(--cw);
    height: var(--ch);
    min-height: var(--ch);
    max-height: var(--ch);
    transition: opacity 1s;
    perspective: 1000px;    
}

.deckback{
    background-image: radial-gradient(rgb(0, 150, 0), rgba(126, 126, 126, 0.158) 120%);
}

.deckback>* {
    overflow:hidden;
    border-style: none;
    text-shadow: none;
    color: rgba(240, 248, 255, 0);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: color 2s, text-shadow 3s,border-style 2s,text-shadow 2s,opacity 2s;
    opacity: 0;
}

.deckfront>* {
    transition: color 2s,text-shadow 3s,border-style 2s,text-shadow 2s;
}

.title {
    position: fixed;
    font-size: 125%;
    font-weight: bold;
    width: calc(var(--cw)/1.12);
    height: calc(var(--ch)/2.8);
}


.text {
    top: 60px;
    position: fixed;
    height: calc(var(--ch)/1.8);
    width: calc(var(--cw)/1.1);
}

.tip {
    font-size: smaller;
    font-style: oblique;
    top: calc(var(--ch)/1.15);
    position: fixed;
    height: calc(var(--ch)/1.8);
    width: calc(var(--cw)/1.1);
}

.icon {
    text-shadow: 0px 0px 0px rgba(0, 134, 7, 0.589);
    position: absolute;
    left: calc(var(--cw)/3.5);
    top: calc(var(--ch)/2);
    font-size: 300%;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0);
    z-index: -1;
    transition: text-shadow ease 2s;
}