:root {
    --cw: 150px;
    --ch: 250px;
    --itc: rgb(92, 255, 92);
}

* {
    margin: 2px;
    padding: 0;
    position:initial;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: black;
    background-image: radial-gradient(rgb(0, 26, 3), black 120%);
    color: var(--itc);
    font: 13px Inconsolata, monospace;
    text-shadow: 0 0 3px rgb(0, 255, 13);
    opacity: 1;
}

hr {
    border-style: dashed;
    border-width: 2px;
    height: 2px;
    border-color: var(--itc);
}

.deckback,
.deckfront {
    position: relative;
    display: inline-table;
    box-shadow: 0 0 3px rgb(0, 255, 13);
    border-style: solid;
    border-color: var(--itc);
    background-image: radial-gradient(rgb(0, 59, 0), rgb(0, 0, 0) 120%);
    border-width: 2px;
    border-radius: 5px;
    width: var(--cw);
    height: var(--ch);
    transition: opacity 1s;
    perspective: 1000px;    
}

.deckback{
    background-image: radial-gradient(rgb(0, 150, 0), rgba(126, 126, 126, 0.158) 120%);
}

.deckback>* {
    opacity: 0;
    transition: opacity 2s;
}

.deckfront>* {
    opacity: 1;
    transition: opacity 2s;
}

.title {
    font-size: 125%;
    font-weight: bold;
}


.text {}

.icon {
    text-shadow: 0px 0px 0px rgba(0, 134, 7, 0.589);
    position: absolute;
    left: calc(var(--cw)/3.5);
    top: calc(var(--ch)/2);
    font-size: 300%;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0);
}